<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dream.miniboss">
    <!-- 申请日历权限 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 申请相机权限 -->
    <uses-permission android:name="android.permission.MICROPHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE_MESSAGE" /> <!-- 位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" /> <!-- 申请打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MiniBossApp"
        android:allowBackup="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.CbgBase"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".publish.ui.OtherContentActivity"
            android:exported="false" />
        <activity
            android:name=".publish.ui.PersonalAdvantagesActivity"
            android:exported="false" />
        <activity
            android:name=".mine.ui.PersonAuthNameActivity"
            android:exported="false" />
        <activity
            android:name=".mine.ui.AuthNameActivity"
            android:exported="false" />
        <activity
            android:name=".publish.ui.PublishResumeActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginCodeNumActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginCodeActivity"
            android:exported="false" />
        <activity
            android:name=".mine.ui.BlackListActivity"
            android:exported="false" />
        <activity android:name=".job.ui.JobFilterActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dream.miniboss.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" /> <!-- 全面屏适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" /> <!-- 华为刘海屏区域使用 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <activity android:name="com.dream.miniboss.other.LaunchActivity" />
        <activity android:name="com.dream.miniboss.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mine.ui.UserEditActivity" />
        <activity android:name=".mine.ui.SystemSettingActivity" />
        <activity android:name=".mine.ui.PermissionSettingActivity" />
        <activity android:name=".mine.ui.FeedbackActivity" />
        <activity android:name=".mine.ui.PhoneNumberActivity" />
        <activity android:name=".mine.ui.VerificationCodeActivity" />
        <activity android:name=".job.ui.ThreeLevelSelectActivity" />
    </application>

</manifest>